# {{ ansible_managed }}

# Docker Upstart and SysVinit configuration file

# Customize location of Docker binary (especially for development testing).
#DOCKER="/usr/local/bin/docker"

# Use DOCKER_OPTS to modify the daemon startup options.
#DOCKER_OPTS="--dns 8.8.8.8 --dns 8.8.4.4"
{% set DOCKER_OPTS = '' %}
{% if docker_engine_storage_driver %}
{% set DOCKER_OPTS = DOCKER_OPTS ~ ' --storage-driver=' ~ docker_engine_storage_driver %}
{% endif %}
{% if docker_engine_tcp_bind_host %}
{% set DOCKER_OPTS = DOCKER_OPTS ~ ' --host=unix:///run/docker.sock --host=tcp://' ~ docker_engine_tcp_bind_host ~ ':' ~ docker_engine_tcp_bind_port %}
{% endif %}
{% if docker_engine_registry_mirror is defined %}
{% set DOCKER_OPTS = DOCKER_OPTS ~ ' --registry-mirror=' ~ docker_engine_registry_mirror %}
{% endif %}
{% if docker_engine_live_restore %}
{% set DOCKER_OPTS = DOCKER_OPTS ~ ' --live-restore' %}
{% endif %}
{% if docker_engine_opts %}
{% set DOCKER_OPTS = DOCKER_OPTS ~ ' ' ~ docker_engine_opts %}
{% endif %}
DOCKER_OPTS="{{ DOCKER_OPTS }}{% for k, v in docker_engine_labels.iteritems() %} --label {{ k }}={{ v }}{% endfor %}{% for r in docker_engine_insecure_registries %} --insecure-registry {{ r }}{% endfor %}"

# If you need Docker to use an HTTP proxy, it can also be specified here.
#export http_proxy="http://127.0.0.1:3128/"
{% if docker_engine_http_proxy is defined %}
export http_proxy="{{ docker_engine_http_proxy }}"
{% endif %}

# This is also a handy place to tweak where Docker's temporary files go.
#export TMPDIR="/mnt/bigdrive/docker-tmp"